<!DOCTYPE HTML>

<html>
    <head>
        <title>Exito</title>
        <link href="static/styles/exito.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

        <div class="container">
            <h1 class="texto">Todo salio como se esperaba :)</h1>
            <img class="imagen" src="https://media.giphy.com/media/pldlTsJkifRYY/giphy.gif">
            <a class="enlace" href="https://ide-0f92ce1027314243914035cc31212974-8080.cs50.ws/login">Ingresa ahora :D</a>
        </div>

    </body>



</html>


