<!DOCTYPE html>
<html lang= "en">
    <head>
        <title>Inicio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/styles/homepage.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/318b440d18.js" crossorigin="anonymous"></script>
    </head>
    </hr>

     <body>
        <header>

            <div id="wrapper">

                <div id="logout">
                    <p class="nav-item"><a class="nav-link" href="/logout">Log Out</a></p>
                </div>

                <div class="grid-img">
                    <img class="imagen" src="https://i.postimg.cc/tCp2XBNn/1621611152896.png" width="200" heigth:"200">

                    <div id="Bienvenido">
                        <h1> Bienvenido cuy cuy!</h1>
                    </div>

                </div>

                <div class="grid-container">

                    <div class="uno">
                      <a href="#Comunidad">Comunidad</a>
                    </div>
                    <div class="dos">
                      <a href="#Curiosidades">Curiosidades</a>
                    </div>
                    <div class="tres">
                      <a href="/ayuda">Directorio</a></p>
                    </div>

                </div>


        </header>

        <section>
            <h1><img id="Comunidad" src='https://i.postimg.cc/s1WcxR1x/zanahoria.png'/></a>Comunidad<img id="noimg" src='https://i.postimg.cc/s1WcxR1x/zanahoria.png'/></h1>

            <div class="img-grid">
                <div class="gafas">
                    <h2> Publicaciones: </h2>
                    <strong> >Fiona: </strong>
                    <p>Ese Paquito, no se quiere quitar las gafas, creo que se volvio modelo kkkk.<p>

                    <img src="https://i.postimg.cc/8c1MwC8W/24e4d598be0e06ff559dfcfb7816a9c4.jpg" width="200px" height="170px"/>

                </div>

                <div class="comentarios">
                    <strong> >>>Bangchan: </strong><p>Para ver esto pago el internet. :D</p>
                    <strong> >>>Jong In: </strong><p>Literalmente mi idolo!</p>
                    <strong> >>>Paquito: </strong><p>Amo mi pelo.</p>
                </div>

            </div>

            <div class="quest-grid">
                <div class="question">
                    <h2>  Preguntas  </h2>
                    <p><strong> >Leebit:</strong> Mi cuy siempre tiene los ojos abiertos, nunca duerme? </p>
                    <p><strong> >>> Piak:</strong> Duermen con los ojos abiertos.</p>
                </div>
            </div>
        </section>

        <p></p>

        <section>


            <h1><img id="Curiosidades" src='https://i.postimg.cc/s1WcxR1x/zanahoria.png'/></a>Curiosidades<img id="noimg" src='https://i.postimg.cc/s1WcxR1x/zanahoria.png'/></h1>
            </hr>
            <ol>

                <h5>
                   ~ Los cuys, cuyes, curis, conejillo de indias o guinea pigs en ingles, reciben este nombre por el sonido que
                    realizan para comunicarse entre si o para llamar la atencion de sus humanos, existen al rededor de 6 tipos
                    de sonidos diferentes cada uno con significado diferente.
                </h5>

                <h5>
                    ~ Cuando ocurre la endogamia al igual que en los seres humanos se empiezan a evidenciar diferencias fisicas
                    en el animal y si es acumulativo puede ser mortal.
                </h5>

                <h5>
                    ~ Los tuberculos pueden ser perjudiciales para su salud.
                </h5>

                <h5>
                    ~ De la misma manera que los humanos no pueden sintetizar la vitamina C, es necesario suministrarla por medio
                    de alimentos que la contengan o algun suplemento vitaminico.
                </h5>
            </ol>
        </section>

        <!--Boton de ir hacia arriba   // https://youtu.be/x99urG4tzCc-->
        <div id="button-up">
            <i class="fas fa-chevron-up"></i>
        </div>

    </body>

    <footer>
        <p>-- CUY --</p>
    </footer>

    <script src="../static/scripts/scroll.js"></script>
</html>