<!DOCTYPE HTML>
<html lang= "en">
    <head>
        <title>inicia sesion</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/styles/login.css" rel="stylesheet">

    </head>
    <body>
        
        <div class="container">
          <div class="img">
              <img src="https://i.postimg.cc/QMfrbBN0/1621611220334.png">
          </div>
          
          
          <div class="bodyForm">
               <form action="/login" method="post">

                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Ingresa tu usuario" type="text">
                    </div>
                    <br>
                    <div>
                        <input autocomplete="off" autofocus class="form-control" name="password" placeholder="No olvides tu contrasena" type="password">
                        <br><br>
                        <button class="btn btn-primary" type="submit">Ingresa</button>
                    </div>
                    <br>
                    <div>
                         <p> Recuerda, debes estar<a href="https://ide-0f92ce1027314243914035cc31212974-8080.cs50.ws/register"> registrado.</a></p>
                    </div>
                </form>
           </div>
        
      </div>
       

    </body>


</html>