<!DOCTYPE html>

<html lang="en">
    <head>
        <title> registrate </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/styles/register.css" rel="stylesheet">

    </head>

    </hr>

    <body>


        <div class="flex-container">
           <div class="flex-items">
               <img src="https://i.postimg.cc/VkLwbBmd/1621611315325.png" width="400px" height="180px" id="cuy">
                <div class="text-intro">
                    <p><b>Hola</b> <wbr> puede que sea tu primera vez aqui, nuestra mision es poder conectar
                        personas que aman a los cuys asi que al entrar en nuestra pagina podras encontrar
                        consejos sobre comida, vivienda, algunos datos curiosos y un directorio de centros
                        medicos especializados en estos peluditos.</p>
                </div>
           </div>

           <div class="flex-items">
                <form id="cuerpo" action="/register" method="post">

                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Tu nombre de usuario" type="text">
                </div><br>

                <div class="form-group">
                     <input class="form-control" name="password" placeholder="Tu contraseña" type="password">
                </div><br>

                <div class="form-group">
                     <input class="form-control" name="rpassword" placeholder="Repite tu contraseña" type="password">
                </div><br>

                <button class="btn btn-primary" type="submit">Registrate</button><a href="https://ide-0f92ce1027314243914035cc31212974-8080.cs50.ws/exito">
             </form>
           </div>
        </div>

    </body>

</html>